<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org" th:replace="layout::main(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>admin</title>
</head>
<body>
<section>
    <!-- Page Header End -->
    <div class="container-xxl py-5 page-header position-relative mb-5">
        <div class="container">
            <h1 class="display-6 text-white animated text-shadow slideInDown mt-4">Gia nhập HPT</h1>
        </div>
    </div>
    <!-- Page Header End -->

    <!-- Sidebar Start -->
    <div class="container-xxl">
        <div class="container">
            <div class="bg-light rounded">
                <div class="row g-0">
                    <div class="col-lg-3 wow fadeIn" data-wow-delay="0.1s">
                        <div class="position-relative h-100">
                            <!-- Sidebar -->
                            <div th:replace="fragments/sidebar :: sidebar"></div>

                            <!-- Sidebar End-->
                        </div>
                    </div>

                    <!-- Author page Start-->
                    <div class="col-lg-9 wow fadeIn" data-wow-delay="0.5s">
                        <div class="h-100 d-flex flex-column justify-content-center p-5">

                            <div class="my-3 p-3 bg-body rounded shadow-sm">

                                <!-- List all author -->
                                <h6 class="border-bottom pb-2 mb-3 text-primary">Danh sách tác giả</h6>
                                <div class="d-flex text-body-secondary pt-3" th:each="author : ${authors}">
                                    <div class="pb-3 mb-0 lh-sm border-bottom w-100">
                                        <div class="d-flex justify-content-between">
                                            <div>
                                                <strong class="text-gray-dark" th:text="${author.authorName}"></strong>
                                                <span class="d-block text-muted"
                                                      th:text="${author.getAuthor_email()}"></span>
                                                <small class="text-muted text-end"
                                                       th:text="${author.createdAt}"></small>
                                            </div>
                                            <div class="btn-group" style="height: 2rem">
                                                <form th:action="@{/admin/author/delete}" method="get">
                                                    <input type="hidden" name="authorId" th:value="${author.id}">
                                                    <button type="submit"
                                                            class="btn btn-sm btn-primary btn-outline-secondary">Xóa
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Author page End-->
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>