<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org" th:replace="layout::main(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>admin</title>
</head>
<body>
<section>
    <!-- Page Header End -->
    <div class="container-xxl py-5 page-header position-relative mb-5">
        <div class="container">
            <h1 class="display-6 text-white animated text-shadow slideInDown mt-4" th:text="title"></h1>
        </div>
    </div>
    <!-- Page Header End -->

    <!-- Sidebar Start -->
    <div class="container-xxl">
        <div class="container">
            <div class="bg-light rounded">
                <div class="row g-0">
                    <div class="col-lg-3 wow fadeIn" data-wow-delay="0.1s">
                        <!-- Sidebar -->
                        <div th:replace="fragments/sidebar :: sidebar"></div>
                        <!-- Sidebar End-->
                    </div>

                    <!-- Main course page Start-->
                    <div class="col-lg-9 wow fadeIn" data-wow-delay="0.5s">
                        <!-- List all course Start -->
                        <div class="p-3 m-3 rounded shadow-sm">
                            <div class="d-flex justify-content-between border-bottom align-items-center pb-2">
                                <h4>Danh mục</h4>

                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-outline-success" data-bs-toggle="modal"
                                        data-bs-target="#staticBackdrop">
                                    <i class="fa fa-plus me-2"></i>Thêm
                                </button>
                            </div>

                            <div class="d-flex text-body-secondary pt-3"
                                 th:unless="${#lists.isEmpty(categories)}"
                                 th:each="cat : ${categories}">
                                <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <h6 class="text-primary">
                                            <i class="fa fa-list me-2"></i>
                                            <span th:text="${cat.getCategoryName()}"></span>
                                        </h6>
                                        <div class="btn-group" style="height: 2rem">
                                            <a href="javascript:void(0)"
                                               class="btn btn-sm btn-outline-secondary"
                                               data-bs-toggle="modal"
                                               data-bs-target="#staticBackdrop"
                                               th:attr="onclick='setCategory(' + ${cat.getId()} + ', \'' + ${cat.getCategoryName()} + '\')'">
                                                Chỉnh sửa
                                            </a>

                                            <a th:href="@{'/admin/category/delete/' + ${cat.getId()}}"
                                               class="btn btn-sm btn-danger"
                                               onclick="return confirm('Bạn chắc chắn xóa?')">Xóa</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="py-3"
                                 th:if="${#lists.isEmpty(categories)}">Chưa có dữ liệu
                            </div>
                        </div>
                        <!-- List all course End -->

                        <!-- Create Modal -->
                        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                             tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="staticBackdropLabel">Thêm Danh Mục</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form th:action="@{/admin/category}" method="post"
                                              th:object="${category}" id="staticBackdropForm">
                                            <div class="mb-3">
                                                <input type="hidden" id="cat-id" name="id"
                                                       th:field="*{id}">
                                                <label for="cat-name" class="col-form-label">Tên mục:</label>
                                                <input type="text" class="form-control"
                                                       id="cat-name"
                                                       autofocus
                                                       required
                                                       th:field="*{categoryName}">
                                            </div>
                                            <!--<div class="mb-3">
                                                <label for="message-text" class="col-form-label">Message:</label>
                                                <textarea class="form-control" id="message-text"></textarea>
                                            </div>-->
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng
                                        </button>
                                        <button type="submit" form="staticBackdropForm" class="btn btn-primary">Xác
                                            nhận
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Create Modal End -->
                    </div>
                    <!-- Main course page End-->
                </div>
            </div>
        </div>
    </div>

    <script th:inline="javascript" type="text/javascript">
        function setCategory(id, name) {
            document.getElementById('cat-id').value = id;
            document.getElementById('cat-name').value = name;
        }
    </script>
</section>

</body>
</html>