<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<head>
    <title>Departments</title>
</head>
<body>
<div class="container">
    <h1>Department List</h1>
    <a href="#"><button type="button" class="btn btn-default">Add Department</button></a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Department ID</th>
            <th>Department Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="department : ${departments}">
            <td th:text="${department.department_id}"></td>
            <td th:text="${department.department_name}"></td>
            <td>
               <a href="#"><button type="button" class="btn btn-default">Edit</button></a>
                <a href="#"><button type="button" class="btn btn-danger">Delete</button></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>


<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>
