<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org" th:replace="layout::main(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
<section>
    <!-- Page Header End -->
    <div class="container-xxl py-5 page-header position-relative mb-5">
        <div class="container">
            <h1 class="display-6 text-white animated text-shadow slideInDown mt-4">Đăng nhập HPT</h1>
        </div>
    </div>
    <!-- Page Header End -->

    <!-- 404 Start -->
    <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container text-center">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <i class="bi bi-exclamation-triangle display-1 text-primary"></i>
                    <h1 class="display-1">404</h1>
                    <h1 class="mb-4">Page Not Found</h1>
                    <p class="mb-4">Chúng tôi rất tiếc, trang bạn đang tìm kiếm không tồn tại trên trang web của chúng
                        tôi! Có thể truy cập trang chủ của chúng tôi hoặc thử sử dụng tìm kiếm?</p>
                    <a class="btn btn-primary rounded-pill py-3 px-5" th:href="@{/}">Về Trang Chủ</a>
                </div>
            </div>
        </div>
    </div>
    <!-- 404 End -->

</section>
</body>
</html>