<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org" th:replace="layout::main(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>admin</title>
</head>
<body>
<section>
    <!-- Page Header End -->
    <div class="container-xxl py-5 page-header position-relative mb-5">
        <div class="container">
            <h1 class="display-6 text-white animated text-shadow slideInDown mt-4">Gia nhập HPT</h1>
        </div>
    </div>
    <!-- Page Header End -->

    <!-- Sidebar Start -->
    <div class="container-xxl">
        <div class="container">
            <div class="bg-light rounded">
                <div class="row g-0">
                    <div class="col-lg-3 wow fadeIn" data-wow-delay="0.1s">
                        <div class="position-relative h-100">
                            <!-- Sidebar -->
                            <div th:replace="fragments/sidebar :: sidebar"></div>

                            <!-- Sidebar edit -->
                            <div class="d-flex flex-column flex-shrink-0 bg-light" style="width: 280px;">
                                <ul class="nav nav-pills flex-column mb-auto">
                                    <li>
                                        <a href="#add-course" class="nav-link link-dark">
                                            <svg class="bi me-2" width="16" height="16">
                                                <use xlink:href="#people-circle"/>
                                            </svg>
                                            Thêm khóa học
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- Sidebar End-->
                        </div>
                    </div>

                    <!-- Main course page Start-->
                    <div class="col-lg-9 wow fadeIn" data-wow-delay="0.5s">
                        <div class="h-100 d-flex flex-column justify-content-center p-5">

                            <!-- List all course Start -->
                            <div class="my-3 p-3 bg-body rounded shadow-sm">
                                <h6 class="border-bottom pb-2 mb-0">Danh sách khóa học</h6>

                                <!-- for each courses -->
                                <div class="d-flex text-body-secondary pt-3" th:each="course : ${courses}">
                                    <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                                        <div class="d-flex justify-content-between">
                                            <div>
                                                <strong class="text-gray-dark" th:text="${course.courseName}"></strong>
                                                <span class="d-block" th:text="${course.author.getAuthorName()}"></span>
                                                <small class="text-muted text-end"
                                                       th:text="${course.createdAt}"></small>
                                            </div>
                                            <div class="btn-group" style="height: 2rem">
                                                <a th:href="@{'/course/edit/' + ${course.id}}"
                                                   class="btn btn-sm btn-outline-secondary">Chỉnh sửa</a>
                                                <a th:href="@{'/course/' + ${course.id}}"
                                                   class="btn btn-sm btn-primary btn-outline-secondary">Xóa</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- List all course Start -->

                            <!-- Add course Start -->
                            <div class="container mt-3" id="add-course">
                                <h6 class="border-bottom pb-2 mb-0">Thêm khóa học</h6>
                                <!-- Form nhập link YouTube -->
                                <form th:action="@{/admin-course}" method="post" class="pt-3">
                                    <div class="row mb-3">
                                        <label for="ytURL" class="col-sm-2 col-form-label">Nhập link
                                            YouTube:</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="ytURL" name="ytURL">
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Lấy thông tin</button>

                                </form>

                                <!-- Form submit course start -->
                                <form id="courseForm" th:action="@{/admin-course/add}" method="post"
                                      class="my-3 p-3 bg-body rounded shadow-sm" th:if="${course}">
                                    <h6 class="border-bottom pb-2 mb-0">Thông tin khóa học</h6>

                                    <!-- YouTube id-->
                                    <div class="row mb-3">
                                        <label for="ytId" class="col-sm-2 col-form-label">Youtube ID:</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="ytId" name="ytId"
                                                   th:field="*{course.ytId}" readonly>
                                        </div>
                                    </div>

                                    <!-- Course Name-->
                                    <div class="row mb-3">
                                        <label for="courseName" class="col-sm-2 col-form-label">Tên khóa học:</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="courseName" name="courseName"
                                                   th:field="*{course.courseName}">
                                        </div>
                                    </div>

                                    <!-- Author -->
                                    <div class="row mb-3">
                                        <label for="author" class="col-sm-2 col-form-label">Tác giả:</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="author" name="author"
                                                   th:field="*{course.author}" readonly>
                                        </div>
                                    </div>

                                    <!-- Duration -->
                                    <div class="row mb-3">
                                        <label for="duration" class="col-sm-2 col-form-label">Thời lượng khóa
                                            học:</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="duration" name="duration"
                                                   th:field="*{course.duration}" readonly>
                                        </div>
                                    </div>

                                    <!-- Course Desc-->
                                    <div class="row mb-3">
                                        <label for="courseDesc" class="col-sm-2 col-form-label">Mô tả:<</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="courseDesc" name="courseName"
                                                   th:field="*{course.courseDesc}">
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary" value="submit">Thêm khóa học</button>
                                </form>
                                <!-- Form submit course start -->
                            </div>
                            <!-- Add course End -->
                        </div>
                    </div>
                    <!-- Main course page End-->
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>