<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org" th:replace="layout::main(~{::section})"
      xmlns:HH="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>course</title>
</head>
<body>
<section>

    <div class="container">
        <div class="row">
            <div class="col-md-3" th:each="course : ${courses}">
                <div class="card mt-3" style="width: 18rem; height: 14rem;">
                    <div class="card-body">
                        <h5 th:text="${course.courseName}" class="card-title"></h5>
                        <p th:text="${course.author.authorName}" class="card-text"></p>
                        <p th:text="${course.createdAt}" class="card-text"></p>
                        <a th:href="'https://www.youtube.com/watch?v=' + ${course.ytId}">Học ngay</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>