<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org" th:replace="layout::main(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>course-detail</title>
</head>
<body>
<section>
    <!-- form show course detail -->
    <div class="container-xxl">
        <div class="container">
            <div class="row g-0">
                <!-- Main data -->
                <div class="col-lg-12 wow fadeIn" data-wow-delay="0.5s">
                    <br/>
                    <h3 class="border-bottom pb-2 mb-3" th:text="${course.getCourseName()}"></h3>
                    <div class="d-flex text-body-secondary pt-3">
                        <div class="pb-3 mb-0 lh-sm border-bottom w-100">
                            <div class="text-center">
                                <iframe
                                        width="800"
                                        height="600"
                                        th:src="'https://www.youtube.com/embed/' + ${course.getYtId()}"
                                        frameborder="0"
                                        allowfullscreen>
                                </iframe>
                            </div>
                            <br>
                            <div class="d-flex align-items-center justify-content-center">
                                <img class="rounded-circle flex-shrink-0" src="/img/user.jpg" alt=""
                                     style="width: 45px; height: 45px;">
                                <div class="ms-3">
                                    <h6 class="text-primary mb-1"
                                        th:text="${course.getAuthor().getAuthorName()}"></h6>
                                    <small th:text="${course.getAuthor().getAuthor_email()}"></small>
                                </div>
                            </div>

                            <br>
                            <p class="pb-2 mb-3 text-center"> Thời lượng: <span
                                    th:text="${course.getDuration()}"></span></p>
                            <div class="alert alert-info" role="alert">
                                <p class="pb-2 mb-3" th:text="${course.getCourseDesc()}"></p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>


</body>
</html>