<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org" th:replace="layout::main(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>profile</title>
</head>
<body>
<section>
    <!-- Page Header End -->
    <div class="container-xxl py-5 page-header position-relative mb-5">
        <div class="container">
            <h1 class="display-6 text-white animated text-shadow slideInDown mt-4" th:text="title"></h1>        </div>
    </div>
    <!-- Page Header End -->
    
    <!-- Profile Start -->
    <div class="container-xxl">
        <div class="container">
            <div class="bg-light rounded">
                <div class="row g-0">
                    <div class="col-lg-3 col-sm-12 wow fadeIn" data-wow-delay="0.1s">
                        <div class="position-relative h-100">
                            <!-- Sidebar -->
                            <div th:replace="fragments/sidebar :: sidebar"></div>
                        </div>
                    </div>
                    <div class="col-lg-9 col-sm-12 wow fadeIn" data-wow-delay="0.5s">
                        <div class="h-100 d-flex flex-column justify-content-center p-5">
                            <form th:action="@{/update-profile}" method="post" th:object="${user}" autocomplete="nope">
                                <p class="mb-4">Thông tin cá nhân</p>
                                <div class="row g-3">
                                    <div class="col-sm-6">
                                        <div class="form-floating">
                                            <span class="form-control border-0" th:text="${user.username}"></span>
                                            <label>Tên đăng nhập</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-floating">
                                            <input type="text" class="form-control border-0"
                                                   id="full_name" name="full_name"
                                                   required placeholder="Họ tên"
                                                   autocomplete="off"
                                                   th:value="${user.fullName}"
                                                   th:field="*{fullName}">
                                            <label for="full_name">Họ tên</label>
                                        </div>
                                    </div>
                                    <span>Bỏ trống nếu không muốn đổi password</span>
                                    <div class="col-sm-6">
                                        <div class="form-floating">
                                            <input type="password" class="form-control border-0"
                                                   id="password"
                                                   placeholder="Password"
                                                   autocomplete="new-password"
                                                   th:field="*{password}"/>
                                            <div class="show-password" onclick="togglePassword(false)">
                                                <i id="showPasswordIcon" class="fa fa-eye"></i>
                                            </div>
                                            <label for="password">Password</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-floating">
                                            <input type="password" class="form-control border-0"
                                                   id="repeat_password"
                                                   placeholder="Nhập lại Password"
                                                   autocomplete="new-password"
                                                   th:field="*{repeatPassword}"/>
                                            <div class="show-password" onclick="togglePassword(true)">
                                                <i id="showRepeatPasswordIcon" class="fa fa-eye"></i>
                                            </div>
                                            <label for="password">Nhập lại Password</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button class="btn btn-primary w-100 py-3" type="submit">Cập nhật thông tin</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>
</body>
</html>