<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>navbar</title>
</head>
<body>
<div th:fragment="navbar">
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top px-4 px-lg-5 py-lg-0">
        <a th:href="@{/}" class="navbar-brand">
            <h1 class="m-0 text-primary logo">HPT</h1>
        </a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav mx-auto">
                <a th:href="@{/}" class="nav-item nav-link"
                   th:classappend="${path == 'home' ? 'active' : ''}">
                    HPT Learning
                </a>
                <!--<a th:href="@{/course}" class="nav-item nav-link"
                   th:classappend="${path == 'course' ? 'active' : ''}">
                    Khóa học
                </a>-->
            </div>

            <form class="form-inline d-flex me-2" action="/search" method="post">
                <input class="form-control me-2" name="s" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit"><i class="fa fa-search"></i></button>
            </form>

            <a sec:authorize="isAnonymous()" th:href="@{/login}"
               class="btn btn-primary rounded-pill px-3 d-none d-lg-block">
                Tham gia ngay <i class="fa fa-arrow-right ms-3"></i>
            </a>
            <div sec:authorize="isAuthenticated()" class="nav-item dropdown">
                <a href="#"
                   class="btn btn-primary rounded-pill px-3 d-none d-lg-block nav-link dropdown-toggle"
                   data-bs-toggle="dropdown">
                    <i class="fa fa-crown me-2" sec:authorize="hasRole('ADMIN')"></i>
                    <i class="fa fa-user me-2" sec:authorize="hasRole('USER')"></i>
                    <span sec:authentication="principal.fullName" class="me-1"></span>
                </a>
                <div class="dropdown-menu rounded-0 rounded-bottom border-0 shadow-sm m-0">
                    <a th:href="@{/profile}" class="dropdown-item">Trang cá nhân</a>
                    <!--<a th:href="@{/}" class="dropdown-item">Khóa học của tôi</a>-->
                    <hr sec:authorize="hasRole('ADMIN')" class="dropdown-divider">
                    <a th:href="@{/admin/category}" sec:authorize="hasRole('ADMIN')" class="dropdown-item">Quản
                        lý danh mục</a>
                    <a th:href="@{/admin/author}" sec:authorize="hasRole('ADMIN')" class="dropdown-item">Quản
                        lý tác giả</a>
                    <a th:href="@{/admin/course}" sec:authorize="hasRole('ADMIN')" class="dropdown-item">Quản
                        lý khóa học</a>
                    <hr class="dropdown-divider">
                    <a th:href="@{/logout}" class="dropdown-item">Thoát</a>
                </div>
            </div>

        </div>
    </nav>
    <!-- Navbar End -->
</div>
</body>
</html>